.filter_header{
    position: relative;
}
.filter_header::after{
    content: "";
    position: absolute;
    top: -50px;
    right:-50px;
    height: 125px;
    width: 125px;
    border-radius: 95px;
    background-color: #e5f3ff21
}
.filter_header::before{
    content: "";
    position: absolute;
    bottom: -50px;
    left:-50px;
    height: 100px;
    width: 100px;
    border-radius: 55px;
    background-color: #e5f3ff21
}